::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F1F5F8;
}


::-webkit-scrollbar-thumb {
  background-color: #676E95;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #F1F5F8;
}

/* p {
  color: #6B7280;
} */

